{% load static %}
<!DOCTYPE html>
<html lang="es-ar">

    {% include 'head.html' %}

<body>

      <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="index"> {% block title%} ONG {% endblock title%} </a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Inicio</a></li>
          <li><a class="nav-link scrollto" href="#nosotros">Nosotros</a></li>
          <li><a class="nav-link scrollto" href="#services">Servicios</a></li>
          <li><a class="nav-link scrollto" href="#noticias">Noticias</a></li>
          <li><a class="nav-link scrollto" href="#equipo">Nuestro equipo</a></li>
          <li><a class="nav-link scrollto" href="#contacto">Contacto</a></li>
          <li><a class="getstarted scrollto" href="#about">Registro/Inicio sesión</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->


    <div class="container">
        <div class="row">
            <div class="col-md-3">
            
            </div>
            <div class="col-md-6">
                <h3><br><br><br><br>Include con el titulo de la noticia elegida</h3>
                    <div class="table-responsive">
                        <table class="table table-primary">
                            <thead>
                                <tr>
                                    <th>Título</th>
                                    <th>Contenido</th>
                                    <th>Fecha</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                                    <img style="display: block;" class="d-block w-100" src="{%static 'assets/img/cta-bg.jpg' %}" alt"Imagen de la noticia">
                                    
                                {% for n in object_list %}
                                    
                                        <tr class="">
                                            <td scope="row">{{n.titulo}}</td>
                                            <td scope="row">{{n.texto}}</td>
                                            <td scope="row">{{n.fecha}}</td>
                                        </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                </div>
            
        </div>
    
    </div>

    {% include 'footer.html' %}

    {% include 'js.html' %}

</body>

</html>