<!DOCTYPE html>
<html lang="es-ar">

    {% include 'head.html' %}

<body>

    {% include 'navbar.html' %}


  <!-- ======= Sección de entrada ======= -->
  {% include 'index.html' %}
  <!-- Fin sección de entrada -->


  <main id="main">


    <!-- ======= Acerca de nosotros ======= -->
    {% include 'nosotros.html' %}
    <!-- Fin acerca de nosotros -->


    <!-- ======= Misión ======= -->
    {% include 'mision.html' %}
    <!-- Fin Misión -->


    <!-- ======= Visión ======= -->
    {% include 'vision.html' %}
    <!-- Fin Visión -->


    <!-- ======= Servicios ======= -->
    {% include 'servicios.html' %}
    <!-- Fin servicios -->


    <!-- ======= Noticias ======= -->
    {% include 'noticias.html' %}
    <!-- Fin noticias -->


    <!-- ======= Listado de noticias ======= -->
    {% include 'noticia/listadoNoticias2.html' %}
<!-- Listado de noticias -->

    <!-- ======= Equipo ======= -->
    {% include 'equipo.html' %}
    <!-- Fin equipo -->

    
    <!-- ======= Contacto ======= -->
    {% include 'contacto.html' %}
    <!-- Fin contacto -->


  </main><!-- End #main -->

<!-- ======= Footer ======= -->
  {% include 'footer.html' %}
<!-- Fin footer -->
  
<!-- ======= Animaciones ======= -->
  {% include 'js.html' %}
<!-- Fin animaciones -->

</body>

</html>